In [63]:
import pandas as pd

In [64]:
df1 = pd.read_csv('data2/노인무인단속장비 현황.csv')
df2 = pd.read_csv('data2/어린이무인단속장비 현황.csv')

In [72]:
df1['과속+신호'] = df1['과속+신호'].str.replace(' ','0')
df1['과속'] = df1['과속'].str.replace(' ','0')
df1['신호'] = df1['신호'].str.replace(' ','0')

In [73]:
df1

       시도   계 과속+신호 과속 신호 주정차  방범
0     서울시  97     2  0  0   8  87
1   종   로   0     0  0  0   0   0
2   중   구   0     0  0  0   0   0
3   용   산   3     0  0  0   0   3
4   성   동   6     0  0  0   4   2
5   광   진   0     0  0  0   0   0
6     동대문   3     0  0  0   0   3
7   중   랑   0     0  0  0   0   0
8   성   북   1     0  0  0   0   1
9   강   북   0     0  0  0   0   0
10  도   봉   0     0  0  0   0   0
11  노   원   0     0  0  0   0   0
12  은   평  44     1  0  0   0  43
13    서대문   1     0  0  0   0   1
14  마   포   0     0
15  양   천   5     1  0  0   1   3
16  강   서   0     0
17  구   로   0     0  0  0   0   0
18  금   천   0     0  0  0   0   0
19    영등포   0     0  0  0   0   0
20  동   작   0     0
21  관   악  11     0  0  0   3   8
22  서   초   2     0  0  0   0   2
23  강   남  13     0  0  0   0  13
24  송   파   6     0  0  0   0   6
25  강   동   2     0  0  0   0   2

     시도   계 과속+신호   과속   신호  주정차   방범
0   NaN NaN   NaN  NaN  NaN  NaN  NaN
1   NaN NaN   NaN  NaN  NaN  NaN  NaN
2   NaN NaN   NaN  NaN  NaN  NaN  NaN
3   NaN NaN   NaN  NaN  NaN  NaN  NaN
4   NaN NaN   NaN  NaN  NaN  NaN  NaN
5   NaN NaN   NaN  NaN  NaN  NaN  NaN
6   NaN NaN   NaN  NaN  NaN  NaN  NaN
7   NaN NaN   NaN  NaN  NaN  NaN  NaN
8   NaN NaN        NaN  NaN  NaN  NaN
9   NaN NaN   NaN  NaN  NaN  NaN  NaN
10  NaN NaN   NaN  NaN  NaN  NaN  NaN
11  NaN NaN   NaN  NaN  NaN  NaN  NaN
12  NaN NaN   NaN  NaN  NaN  NaN  NaN
13  NaN NaN   NaN  NaN  NaN  NaN  NaN
14  NaN NaN
15  NaN NaN   NaN  NaN  NaN  NaN  NaN
16  NaN NaN
17  NaN NaN   NaN  NaN  NaN  NaN  NaN
18  NaN NaN   NaN  NaN  NaN  NaN  NaN
19  NaN NaN   NaN  NaN  NaN  NaN  NaN
20  NaN NaN
21  NaN NaN   NaN  NaN  NaN  NaN  NaN
22  NaN NaN   NaN  NaN  NaN  NaN  NaN
23  NaN NaN   NaN  NaN  NaN  NaN  NaN
24  NaN NaN   NaN  NaN  NaN  NaN  NaN
25  NaN NaN   NaN  NaN  NaN  NaN  NaN