In [4]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
import platform
if platform.system() == 'Windows':
    matplotlib.rc('font', family='Malgun Gothic')

%matplotlib inline

In [2]:
traffic2001 = pd.read_excel('data/traffic/2020_2021.xlsx')

In [5]:
traffic2001.head()

,일자,요일,지점명,지점번호,방향,구분,0시,1시,2시,3시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,20200101,수,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,712.0,645.0,437.0,309.0,...,1472.0,1416.0,1483.0,1329.0,1157.0,1014.0,954.0,849.0,780.0,480.0
1,20200102,목,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,315.0,222.0,186.0,165.0,...,1792.0,1897.0,1842.0,2061.0,1994.0,1443.0,1233.0,1165.0,1094.0,852.0
2,20200103,금,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,632.0,457.0,295.0,236.0,...,2004.0,1929.0,2049.0,2140.0,2178.0,1654.0,1356.0,1260.0,1253.0,941.0
3,20200104,토,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,740.0,518.0,388.0,331.0,...,1837.0,1788.0,1588.0,1669.0,1530.0,1222.0,1143.0,1089.0,1039.0,791.0
4,20200105,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,533.0,424.0,297.0,230.0,...,1634.0,1673.0,1494.0,1429.0,1288.0,1035.0,987.0,884.0,803.0,564.0

In [6]:
traffic2001.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123096 entries, 0 to 123095
Data columns (total 30 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   일자      123096 non-null  int64
 1   요일      123096 non-null  object
 2   지점명     123096 non-null  object
 3   지점번호    123096 non-null  object
 4   방향      123096 non-null  object
 5   구분      123096 non-null  object
 6   0시      112807 non-null  float64
 7   1시      112800 non-null  float64
 8   2시      112801 non-null  float64
 9   3시      112824 non-null  float64
 10  4시      112871 non-null  float64
 11  5시      112880 non-null  float64
 12  6시      112903 non-null  float64
 13  7시      112891 non-null  float64
 14  8시      112869 non-null  float64
 15  9시      112895 non-null  float64
 16  10시     112949 non-null  float64
 17  11시     112901 non-null  float64
 18  12시     112881 non-null  float64
 19  13시     112878 non-null  float64
 20  14시     112902 non-null  float64
 21  15시     112927 non-null  float64
 22  16시     112974 non-null  float64
 23  17시     112960 non-null  float64
 24  18시     112973 non-null  float64
 25  19시     112926 non-null  float64
 26  20시     112932 non-null  float64
 27  21시     112920 non-null  float64
 28  22시     112722 non-null  float64
 29  23시     112707 non-null  float64
dtypes: float64(24), int64(1), object(5)
memory usage: 28.2+ MB

In [7]:
traffic2001['총교통량'] = traffic2001['0시']+traffic2001['1시']+traffic2001['2시']+traffic2001['3시']+traffic2001['4시']+traffic2001['5시']+traffic2001['6시']+traffic2001['7시']+traffic2001['8시']+traffic2001['9시']+traffic2001['10시']+traffic2001['11시']+traffic2001['12시']+traffic2001['13시']+traffic2001['14시']+traffic2001['15시']+traffic2001['16시']+traffic2001['17시']+traffic2001['18시']+traffic2001['19시']+traffic2001['20시']+traffic2001['21시']+traffic2001['22시']+traffic2001['23시']
traffic2001['일자'] = pd.to_datetime(traffic2001['일자'], format='%Y%m%d')
traffic2001.head(2)

,일자,요일,지점명,지점번호,방향,구분,0시,1시,2시,3시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,총교통량
0,2020-01-01,수,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,712.0,645.0,437.0,309.0,...,1416.0,1483.0,1329.0,1157.0,1014.0,954.0,849.0,780.0,480.0,21513.0
1,2020-01-02,목,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,315.0,222.0,186.0,165.0,...,1897.0,1842.0,2061.0,1994.0,1443.0,1233.0,1165.0,1094.0,852.0,33156.0

In [8]:
t20_01 = traffic2001[['일자', '요일', '지점명', '방향', '총교통량']]
t20_01

               일자 요일        지점명  방향     총교통량
0      2020-01-01  수  성산로(금화터널)  유입  21513.0
1      2020-01-02  목  성산로(금화터널)  유입  33156.0
2      2020-01-03  금  성산로(금화터널)  유입  35143.0
3      2020-01-04  토  성산로(금화터널)  유입  28899.0
4      2020-01-05  일  성산로(금화터널)  유입  24003.0
...           ... ..        ...  ..      ...
123091 2021-07-27  화     서부간선도로  유출  53863.0
123092 2021-07-28  수     서부간선도로  유출  51501.0
123093 2021-07-29  목     서부간선도로  유출  51910.0
123094 2021-07-30  금     서부간선도로  유출  51731.0
123095 2021-07-31  토     서부간선도로  유출  56273.0

[123096 rows x 5 columns]

In [9]:
t2001_inout = t20_01.groupby(['일자', '요일'])['총교통량'].sum()
t2001_inout

일자          요일
2020-01-01  수     7315694.0
2020-01-02  목     9251365.0
2020-01-03  금     9998638.0
2020-01-04  토     9128684.0
2020-01-05  일     7868358.0
                    ...
2021-07-27  화     9073087.0
2021-07-28  수     8932580.0
2021-07-29  목     9030234.0
2021-07-30  금     9172571.0
2021-07-31  토     7735704.0
Name: 총교통량, Length: 578, dtype: float64

In [10]:
df_2001 = pd.DataFrame(t2001_inout)
df_2001

                    총교통량
일자         요일
2020-01-01 수   7315694.0
2020-01-02 목   9251365.0
2020-01-03 금   9998638.0
2020-01-04 토   9128684.0
2020-01-05 일   7868358.0
...                  ...
2021-07-27 화   9073087.0
2021-07-28 수   8932580.0
2021-07-29 목   9030234.0
2021-07-30 금   9172571.0
2021-07-31 토   7735704.0

[578 rows x 1 columns]

In [12]:
df_2001.to_csv('data/traffic/202001_202107.txt')