In [1]:
import pandas as pd

In [46]:
#코로나 데이터 불러옴
corona = pd.read_csv('../data2/covid_seoul.csv')
corona.head()

,연번,확진일,환자번호,국적,환자정보,지역,여행력,접촉력,조치사항,상태,이동경로,등록일,수정일,노출여부
0,83138,2021-09-06,NaN,NaN,NaN,관악구,NaN,감염경로 조사중,NaN,-,NaN,2021-09-07 10:51,2021-09-07 10:51,Y
1,83137,2021-09-06,NaN,NaN,NaN,강남구,NaN,감염경로 조사중,NaN,-,NaN,2021-09-07 10:51,2021-09-07 10:51,Y
2,83136,2021-09-06,NaN,NaN,NaN,동작구,NaN,감염경로 조사중,NaN,-,NaN,2021-09-07 10:51,2021-09-07 10:51,Y
3,83135,2021-09-06,NaN,NaN,NaN,강남구,NaN,기타 확진자 접촉,NaN,-,NaN,2021-09-07 10:51,2021-09-07 10:51,Y
4,83134,2021-09-06,NaN,NaN,NaN,광진구,미국,해외유입,NaN,-,NaN,2021-09-07 10:51,2021-09-07 10:51,Y

In [47]:
#확진일만 필요함
corona_df = corona[['확진일']]

In [48]:
corona_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83138 entries, 0 to 83137
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   확진일     83138 non-null  object
dtypes: object(1)
memory usage: 649.6+ KB

In [49]:
corona_df['확진일'] = corona_df['확진일'].str.replace('-','')

<ipython-input-49-6638eda4133c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  corona_df['확진일'] = corona_df['확진일'].str.replace('-','')

In [50]:
#확진일 중에서도 년-월 데이터만 필요하기 때문에 월 데이터를 없앤다.
for i in range(len(corona_df['확진일'])):
    tmp = corona_df.iloc[i].values[0]
    corona_df.iloc[i] = tmp[:-2]

D:\anaconda\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
D:\anaconda\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [51]:
# 확진일 데이터를 비교하여 같은 달이면 +1을 해주고 딕셔너리에 넣는다.
num = {}
for i in corona_df['확진일']:
    if i not in num:
        num[i] = 1
    else:
        num[i] += 1
num

{'202109': 3121,
 '202108': 15194,
 '202107': 14504,
 '202106': 6258,
 '202105': 6030,
 '202104': 5803,
 '202103': 3897,
 '202012': 10432,
 '202102': 4060,
 '202101': 4878,
 '202011': 2904,
 '202008': 2415,
 '202010': 733,
 '202009': 1306,
 '202007': 281,
 '202006': 459,
 '202005': 229,
 '202004': 156,
 '202003': 391,
 '202002': 80,
 '202001': 7}

In [52]:
#데이터 프레임으로 만들어준다.
corona_df2 = pd.DataFrame(num, index=[0])
#전치행렬을 적용해준다.
corona_df2 = corona_df2.transpose()
#인덱스를 새로 만들어준다.
corona_df2.reset_index(inplace=True)
#컬럼의 이름을 바꿔준다.
corona_df2.columns = ['날짜','확진자수']
# 내림차순 정렬을 해준다.
corona_df2.sort_values(by=['날짜'], inplace=True, ascending=True)
# 인덱스를 새로만든다.
corona_df2.reset_index(inplace=True)
# 구 인덱스를 삭제한다.
corona_df2.drop('index',axis=1,inplace=True)

In [53]:
corona_df2

        날짜   확진자수
0   202001      7
1   202002     80
2   202003    391
3   202004    156
4   202005    229
5   202006    459
6   202007    281
7   202008   2415
8   202009   1306
9   202010    733
10  202011   2904
11  202012  10432
12  202101   4878
13  202102   4060
14  202103   3897
15  202104   5803
16  202105   6030
17  202106   6258
18  202107  14504
19  202108  15194
20  202109   3121

In [54]:
corona_df2.to_csv('../data2/corona_day.txt')