
## 제곱 함수와 n 제곱 함수 만들기(202쪽)

In [31]:
def my_sq(x):
    return x ** 2       # 제곱 함수 만들기

In [32]:
def my_exp(x, n):
    return x ** n       # n제곱 함수 만들기

In [5]:
print(my_sq(4))          # 4의 제곱

16

In [6]:
print(my_exp(2, 4))      # 2의 4제곱

16

# 직접 해보세요!
## 시리즈와 데이터프레임에 apply 메서드 사용하기(203쪽)

### 1. 시리즈와 apply 메서드

In [7]:
import pandas as pd

df = pd.DataFrame({'a': [10, 20, 30], 'b': [20, 30, 40]}) 

print(df)     # 데이터 프레임 준비

    a   b
0  10  20
1  20  30
2  30  40

In [8]:
print(df['a'] ** 2)    # a열 제곱하여 제곱값 구하기

0    100
1    400
2    900
Name: a, dtype: int64

In [9]:
sq = df['a'].apply(my_sq)   # apply 메서드에 제곱 함수 (my_sq)를 전달하여 시리즈의 모든 데이터 제곱 함수 적용 
print(sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [10]:
ex = df['a'].apply(my_exp, n=2)  # apply 메서드와 my_exp 함께 사용 ,제곱
print(ex)

0    100
1    400
2    900
Name: a, dtype: int64

In [11]:
ex = df['a'].apply(my_exp, n=3)  # 세제곱 
print(ex)

0     1000
1     8000
2    27000
Name: a, dtype: int64

### 5. 데이터 프레임과 apply 메서드

In [17]:
df = pd.DataFrame({'a': [10, 20, 30], 'b': [20, 30, 40]}) #데이터 프레임 만들기 
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [18]:
def print_me(x):  # 1개의 값을 전달받아 출력하는 print_me 함수 만들기 
    print(x)

In [19]:
print(df.apply(print_me, axis=0)) #데이터 프레임에 함수적용 , axis = 0 이면 열방향, axis = 1이면 행방향

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64
a    None
b    None
dtype: object

In [8]:
print(df['a'])

0    10
1    20
2    30
Name: a, dtype: int64

In [9]:
print(df['b'])

0    20
1    30
2    40
Name: b, dtype: int64

In [33]:
def avg_3(x, y, z):
    return (x + y + z) / 3     # 3개의 인자를 받아 평균을 구하는 함수 만들기

In [34]:
print(df.apply(avg_3))           # 3개의 인자값이 필요한 함수인데 1개의 인자값만 입력받아서 오류 메세지 출력 
                                # df['a']  또는 df['b'] 가 전달되었고 이값을 1개의 인자로 인식함 따라서 열단위 데이터로 
                                # 처리 할 수 있게 수정하기

TypeError: avg_3() missing 2 required positional arguments: 'y' and 'z'

In [36]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [12]:
def avg_3_apply(col):           # df['a'] 값 각각의 column 값을 넣어줌 
    x = col[0] 
    y = col[1] 
    z = col[2] 
    return (x + y + z) / 3


print(df.apply(avg_3_apply))

a    20.0
b    30.0
dtype: float64

In [25]:
print(df['a'])

0    10
1    20
2    30
Name: a, dtype: int64

In [27]:
print(df['b'])

0    20
1    30
2    40
Name: b, dtype: int64

In [39]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [37]:
def avg_3_apply(col):          # 열 방향으로 모든 파라메트 값의 평균 구하기 
    sum = 0
    for item in col:
         sum += item
    return sum / df.shape[0]

In [38]:
print(df.apply(avg_3_apply, axis = 0))

a    20.0
b    30.0
dtype: float64

In [21]:
def avg_2_apply(row):
    sum = 0
    for item in row:                       # 행 방향으로 모든 파라메트 값의 평균 구하기  a와 b 행으로 더하고 평균구하기 
        sum += item
    return sum / df.shape[1]

In [22]:
print(df.apply(avg_2_apply, axis = 1))

0    15.0
1    25.0
2    35.0
dtype: float64

# 직접 해보세요!
## 데이터프레임의 누락값을 처리한 다음 apply 메서드 사용하기(208쪽)

### 1. 데이터프레임의 누락값 처리하기 ― 열 방향

In [41]:
import seaborn as sns

titanic = sns.load_dataset("titanic")   # 타이타닉 데이터 불러오기

In [42]:
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB
None

In [52]:
import numpy as np

def count_missing(vec):                # 누락값 개수 반황 count_missing                        
    null_vec = pd.isnull(vec)           # pd.isnull 메서드는 누락값 유,무에 따라 true/ false 적용
    null_count = np.sum(null_vec)        # true / false값을 sum 하여 count함 
    return null_count

In [53]:
cmis_col = titanic.apply(count_missing)      # apply 메서드에 count_missing 함수 전달 
print(cmis_col)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [46]:
 def prop_missing(vec):             #prop_missing 누락값의 비율을 계산함 
    num = count_missing(vec)        # 누락값 개수 반환 하는  count_missing 함수 이용 하여 누락값구하기 
    dem = vec.size                  #size 속성을 이용해 데이터프레임의 전체 데이터 수 구하기 
    return num / dem               # 누락값/ 전체 데이터수

In [47]:
pmis_col = titanic.apply(prop_missing)     #누락값 비율 구하기 
print(pmis_col)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

In [48]:
def prop_complete(vec):                          # 전체비율 (1)에서 누락값의 비율 빼기 
    return 1 - prop_missing(vec)

In [56]:
prop_complete

### 8. 데이터프레임의 누락값을 처리하기 ― 행 방뱡

In [51]:
cmis_row = titanic.apply(count_missing, axis=1)          #행의 누락값
pmis_row = titanic.apply(prop_missing, axis=1)            #누락값의 비율
pcom_row = titanic.apply(prop_complete, axis=1)           # 누락값이 아닌 값의 비율

print(cmis_row.head(15))   # 행의 누락값

0     1
1     0
2     1
3     0
4     1
5     2
6     0
7     1
8     1
9     1
10    0
11    0
12    1
13    1
14    1
dtype: int64

In [54]:
print(pmis_row.head())    # 누락값의 비율

0    0.066667
1    0.000000
2    0.066667
3    0.000000
4    0.066667
dtype: float64

In [55]:
print(pcom_row.head())   #누락값이 아닌 값의 비율

0    0.933333
1    1.000000
2    0.933333
3    1.000000
4    0.933333
dtype: float64

In [59]:
titanic['num_missing'] = titanic.apply(count_missing, axis=1) # 누락값의 개수를 구하여 타이타닉 데이터 프레임에 추가하기 

print(titanic)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone  num_missing
0      man        True  NaN  Southampton    no  False            1
1    woman       False    C    Cherbourg   yes  False            0
2    woman       False  NaN  Southampton   yes   True            1
3    woman       False    C  Southampton   yes  False            0
4      man        True  NaN  Southampton    no   True            1
..     ...         ...  ...          ...   ...    ...          ...
886    man        True  NaN  Southampton    no   True            1
887  woman       False    B  Southampton   yes   True            0
888  woman       False  NaN  Southampton    no  False            2
889    man        True    C    Cherbourg   yes   True            0
890    man        True  NaN   Queenstown    no   True            1

[891 rows x 16 columns]

In [60]:
print(titanic.loc[titanic.num_missing > 1, :].sample(10))    # 누락값이 2개 이상인 데이터 추출하기

     survived  pclass     sex  age  sibsp  parch     fare embarked  class  \
792         0       3  female  NaN      8      2  69.5500        S  Third
26          0       3    male  NaN      0      0   7.2250        C  Third
727         1       3  female  NaN      0      0   7.7375        Q  Third
250         0       3    male  NaN      0      0   7.2500        S  Third
158         0       3    male  NaN      0      0   8.6625        S  Third
87          0       3    male  NaN      0      0   8.0500        S  Third
180         0       3  female  NaN      8      2  69.5500        S  Third
176         0       3    male  NaN      3      1  25.4667        S  Third
47          1       3  female  NaN      0      0   7.7500        Q  Third
235         0       3  female  NaN      0      0   7.5500        S  Third

       who  adult_male deck  embark_town alive  alone  num_missing
792  woman       False  NaN  Southampton    no  False            2
26     man        True  NaN    Cherbourg    no   True            2
727  woman       False  NaN   Queenstown   yes   True            2
250    man        True  NaN  Southampton    no   True            2
158    man        True  NaN  Southampton    no   True            2
87     man        True  NaN  Southampton    no   True            2
180  woman       False  NaN  Southampton    no  False            2
176    man        True  NaN  Southampton    no  False            2
47   woman       False  NaN   Queenstown   yes   True            2
235  woman       False  NaN  Southampton    no   True            2