In [30]:
import pandas as pd

df = pd.read_csv('data/steam_1.csv')

df

                                    Name  Hours
0             The Elder Scrolls V Skyrim  273.0
1                              Fallout 4   87.0
2                                  Spore   14.9
3                      Fallout New Vegas   12.1
4                          Left 4 Dead 2    8.9
...                                  ...    ...
20221  Nancy Drew Tomb of the Lost Queen    8.4
20222                           Portal 2    8.3
20223                 Farm for your Life    8.0
20224                           PAYDAY 2    7.5
20225         Sid Meier's Civilization V    7.5

[20226 rows x 2 columns]

In [31]:
df.isnull().sum()

Name      0
Hours    10
dtype: int64

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20226 entries, 0 to 20225
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    20226 non-null  object
 1   Hours   20216 non-null  float64
dtypes: float64(1), object(1)
memory usage: 316.2+ KB

In [33]:
df.dropna(inplace=True)     # dropna메소드를 사용하여 결측값이 존재하는 row 모두삭제

In [34]:
df

                                    Name  Hours
0             The Elder Scrolls V Skyrim  273.0
1                              Fallout 4   87.0
2                                  Spore   14.9
3                      Fallout New Vegas   12.1
4                          Left 4 Dead 2    8.9
...                                  ...    ...
20221  Nancy Drew Tomb of the Lost Queen    8.4
20222                           Portal 2    8.3
20223                 Farm for your Life    8.0
20224                           PAYDAY 2    7.5
20225         Sid Meier's Civilization V    7.5

[20216 rows x 2 columns]