## DataFrame 사용해 보기

In [1]:
import pandas as  pd

In [2]:
df = [['헨리',90,85], ['제시',85, 75], ['준', 80, 65], ['로이', 94, 68]]

In [3]:
pd.DataFrame(df)     #pandas로 dataframe 만들기

    0   1   2
0  헨리  90  85
1  제시  85  75
2   준  80  65
3  로이  94  68

In [4]:
DATA1 = pd.DataFrame(df)

In [5]:
DATA1

    0   1   2
0  헨리  90  85
1  제시  85  75
2   준  80  65
3  로이  94  68

In [6]:
type(DATA1)

pandas.core.frame.DataFrame

## 행과 열에 이름 지어주기

In [7]:
DATA1 = pd.DataFrame(df, columns =['name', 'english_score','mate_score'])   
DATA1

  name  english_score  mate_score
0   헨리             90          85
1   제시             85          75
2    준             80          65
3   로이             94          68

In [8]:
DATA1 = pd.DataFrame(df, columns =['name', 'english_score','mate_score'], index=['a', 'b','c','d'])
DATA1

  name  english_score  mate_score
a   헨리             90          85
b   제시             85          75
c    준             80          65
d   로이             94          68

In [9]:
DATA1.columns

Index(['name', 'english_score', 'mate_score'], dtype='object')

In [10]:
DATA1.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
DATA1.dtypes

name             object
english_score     int64
mate_score        int64
dtype: object

## From list of lists, array of arrays, list of series

### 1. 2차원 list로 dataframe 만들기

In [12]:
import numpy as np
import pandas as pd

In [13]:
df_list = [['Henry',90,85], ['Jessi',85, 75], ['Jun', 80, 65], ['Roy', 94, 68]]
df1 = pd.DataFrame(df_list) 
df1

       0   1   2
0  Henry  90  85
1  Jessi  85  75
2    Jun  80  65
3    Roy  94  68

### 2. 2차원 numpy array로 dataframe 만들기

In [14]:
df_array = np.array(df_list)

In [16]:
df_array
df2 = pd.DataFrame(df_array)
df2

       0   1   2
0  Henry  90  85
1  Jessi  85  75
2    Jun  80  65
3    Roy  94  68

### 3. pandas series로 dataframe 만들기

In [17]:
list_of_series = [ 
     pd.Series(['Henry',90,85]),
     pd.Series(['Jessi',85, 75]),
     pd.Series(['Jun', 80, 65]),
     pd.Series(['Roy', 94, 68])]
   
list_of_series

[0    Henry
 1       90
 2       85
 dtype: object,
 0    Jessi
 1       85
 2       75
 dtype: object,
 0    Jun
 1     80
 2     65
 dtype: object,
 0    Roy
 1     94
 2     68
 dtype: object]

In [18]:
   
df3=pd.DataFrame(list_of_series)
df3

       0   1   2
0  Henry  90  85
1  Jessi  85  75
2    Jun  80  65
3    Roy  94  68

## 파이썬 Dictionary 로 DataFrame 만들기

In [19]:
names = ['Henry','Jessi','Jun','Roy']
english_scores = [90,85,80,94]
math_scores = [85,75,65,68]

dictionary1 = { 
         'name' : names,
         'english_score' : english_scores,
         'math_score' : math_scores }

dictionary1

{'name': ['Henry', 'Jessi', 'Jun', 'Roy'],
 'english_score': [90, 85, 80, 94],
 'math_score': [85, 75, 65, 68]}

In [20]:
df1 = pd.DataFrame(dictionary1)
df1

    name  english_score  math_score
0  Henry             90          85
1  Jessi             85          75
2    Jun             80          65
3    Roy             94          68

## Pandas로 데이터 읽어들이기

In [21]:
pd.read_csv("data/iphone.csv")

      Unnamed: 0         출시일  디스플레이  메모리     출시 버전 Face ID
0       iPhone 7  2016-09-16    4.7  2GB  iOS 10.0      No
1  iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
2       iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No
3  iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
4       iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
5      iPhone XS  2018-09-21    5.8  4GB  iOS 12.0     Yes
6  iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [22]:
iphone_df=pd.read_csv('data/iphone.csv')   # read_csv는 자동으로 첫번쨰 줄이 header로 들어감

In [23]:
iphone_df

      Unnamed: 0         출시일  디스플레이  메모리     출시 버전 Face ID
0       iPhone 7  2016-09-16    4.7  2GB  iOS 10.0      No
1  iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
2       iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No
3  iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
4       iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
5      iPhone XS  2018-09-21    5.8  4GB  iOS 12.0     Yes
6  iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [24]:
iphone_df=pd.read_csv('data/iphone.csv', header=None)

In [25]:
iphone_df

               0           1      2    3         4        5
0            NaN         출시일  디스플레이  메모리     출시 버전  Face ID
1       iPhone 7  2016-09-16    4.7  2GB  iOS 10.0       No
2  iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0       No
3       iPhone 8  2017-09-22    4.7  2GB  iOS 11.0       No
4  iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0       No
5       iPhone X  2017-11-03    5.8  3GB  iOS 11.1      Yes
6      iPhone XS  2018-09-21    5.8  4GB  iOS 12.0      Yes
7  iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0      Yes

In [26]:
type(iphone_df)

pandas.core.frame.DataFrame

In [27]:
iphone_df=pd.read_csv('data/iphone.csv') 
iphone_df

      Unnamed: 0         출시일  디스플레이  메모리     출시 버전 Face ID
0       iPhone 7  2016-09-16    4.7  2GB  iOS 10.0      No
1  iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
2       iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No
3  iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
4       iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
5      iPhone XS  2018-09-21    5.8  4GB  iOS 12.0     Yes
6  iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [28]:
iphone_df=pd.read_csv('data/iphone.csv', index_col =0)  # index_col을 사용하여 row이름 지어주기

In [29]:
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

## DataFrame 인덱싱

In [30]:
import pandas as pd

In [31]:
iphone_df = pd.read_csv('data/iphone.csv',index_col=0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [32]:
iphone_df.loc['iPhone 8','메모리']   # ipnone8의 메모리값 가져오기

'2GB'

In [33]:
iphone_df.loc['iPhone X', :]      #iPhone X  에 대한 전체값 받아오기

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [34]:
iphone_df.loc['iPhone X']  #df.loc[]   row 데이터를 가져올 때 주로 사용

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [35]:
type(iphone_df.loc['iPhone X'] )

pandas.core.series.Series

In [36]:
iphone_df.loc[:,'출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [37]:
iphone_df['출시일']  # df [] 는 column을 가져오기 위해 사용 됨, 따라서 loc 사용 하지 않음

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [38]:
type(iphone_df['출시일'] )

pandas.core.series.Series